<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    @if (Model != null && Model.IsAuthenticated)
    {
        <a href="/Person" class="btn btn-primary btn-outline-primary">Manage people</a>

    }
    else
    {
        <p>Please login <a href="/Login">here</a>.</p>
    }
</div>
