<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model != null && Model.IsAuthenticated)
    {



    }
    else
    {
        <p>Please login <a href="/Login">here</a>.</p>
    }
</div>
