@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <h3>Login</h3>
    @if (Model.Error != null)
    {
        <p class="alert-warning">@Html.Raw(Model.Error)</p>
    }

    @if (Model.IsAuthenticated)
    {
        <p class="alert-success">Bravo, vous êtes sur Internet !</p>
    }
    else
    {
        <form action="Login" method="post">
            <input type="text" name="username" /><br />
            <input type="password" name="password" /><br />
            <input type="submit" value="Sign-in" />
        </form>
    }
</div>

