@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<table>
    @foreach (var person in Model.Persons)
    {
        <tr>
            <td>@Html.Raw(person.Firstname) @Html.Raw(person.Lastname)&nbsp;&nbsp;&nbsp;</td>
            <td><a class="btn btn-outline-success btn-sm" href="/Person/@Html.Raw(person.Id)">See</a></td>
            <td><a class="btn btn-outline-danger btn-sm" href="/Person/Delete/@Html.Raw(person.Id)">Delete</a></td>
</tr>
    }
</table>

<form action="/Person" method="post">
    <span>Firstname</span>
    <input type="text" name="firstname" />
    <span>Lastname</span>
    <input type="text" name="lastname" />
    <input type="submit" value="Create" class="btn btn-info btn-sm" />
</form>
